.about {
  padding-top: 150px;
  padding-bottom: 131px;
  background-color: $color-white;

  @media (max-width: $width-desktop) {
    padding-top: 0;
    padding-bottom: 30px;
  }

  @media (max-width: $width-tablet) {
    padding-bottom: 35;
  }
}

.about h2 {
  margin-top: 0;

  @include fontMeasure(600, 30px, 30px);
  text-align: center;

  @media (max-width: $width-desktop) {
    @include fontMeasure(600, 24px, 41px);
  }
}

.about ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* justify-content: space-between; */

  @include reset-list;
  margin-top: 50px;

  @media (max-width: $width-desktop) {
    margin-top: 30px;
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $width-tablet) {
    grid-template-columns: 1fr;
  }
}

.about__item {
  max-width: 263px;
  text-align: center;

  @media (max-width: 1440px) and (min-width: 1023px) {
    max-width: 250px;
  }

  @media (max-width: $width-desktop) {
    margin-bottom: 40px;
  }

  @media (max-width: $width-tablet) {
    margin: 0 auto 35px auto;
  }
}

.about__item h3 {
  margin: 0;

  @include fontMeasure(700, 28px, 38px);
  color: $color-main;
}

.about__item p {
  margin: 14px 0 0 0;

  @include fontMeasure(400, 22px, 34px);

  @media (max-width: 1440px) and (min-width: 1024px) {
    @include fontMeasure(400, 18px, 34px);
  }

  @media (max-width: $width-tablet) {
    @include fontMeasure(400, 18px, 34px);
  }
}
