.footer {
  padding: 248px 0 96px 0;
  background-color: $color-white;
  text-align: center;

  @media (max-width: $width-desktop) {
    padding: 155px 0 53px 0;
  }

  @media (max-width: $width-desktop) {
    padding: 119px 0 51px 0;
  }
}

.footer h2 {
  margin: 0 0 30px 0;

  @include fontMeasure(600, 30px, 30px);
  color: $color-section-header;

  @media (max-width: $width-desktop) {
    margin: 0 0 20px 0;

    @include fontMeasure(600, 24px, 30px);
  }

  @media (max-width: $width-tablet) {
    @include fontMeasure(600, 18px, 30px);
  }
}

.footer p {
  display: block;
  max-width: 545px;
  margin: 0 auto 42px auto;

  @include fontMeasure(400, 17px, 31px);
  color: rgba($color-black, 0.7);

  @media (max-width: $width-desktop) {
    max-width: 100%;
    margin: 0 auto 20px auto;
  }

  @media (max-width: $width-tablet) {
    margin: 0 auto 25px auto;
    padding: 0 16px;
  }
}

.footer img {
  @media (max-width: $width-desktop) {
    width: 698px;
    height: 545px;
  }

  @media (max-width: $width-tablet) {
    width: 320px;
    height: 250px;
  }
}
