.form {
  width: 327px;
  display: flex;
  flex-direction: column;

  @media (max-width: $width-desktop) {
    width: 321px;
  }

  @media (max-width: $width-tablet) {
    width: 288px;
  }
}

.form p {
  margin: 0;

  @include fontMeasure(600, 17px, 28px);
  text-align: center;
  color: $color-white;
}

.form input {
  height: 48px;
  margin-top: 20px;
  padding: 14px 29px 10px 29px;

  @include fontMeasure(400, 15px, 24px);
  color: $color-black;
  border: 1px solid $color-input-border;
  border-radius: 6px;

  &:hover {
    border: 1px solid rgba($color-black, 0.6);
  }
}

.form button {
  height: 51px;
  margin-top: 20px;

  @include fontMeasure(600, 15px, 21px);
  background-color: $color-main;
  color: $color-black;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    background-color: rgba($color-main, 0.9);
  }

  &:focus {
    border: 2px solid $color-white;
  }
}
