.header {
  width: 100%;
  min-height: fit-content;
  background: $color-black url("../img/main-bg-desktop.jpg") no-repeat center;
  background-size: cover;

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background: $color-black url("../img/main-bg-desktop@2x.jpg") no-repeat center;
    background-size: cover;
  }

  @media (max-width: $width-desktop) {
    background: none;
  }
}

.header__wrapper {
  max-width: 874px;
  margin: 0 auto;
  height: 100%;

  @media (max-width: $width-desktop) {
    max-width: 100%;
  }
}
