.promo {
  display: flex;
  justify-content: space-between;
  margin-top: 256px;
  /* padding-bottom: 240px; */

  @media (max-width: $width-desktop) {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
}

.promo__about {
  padding-bottom: 240px;

  @media (max-width: $width-desktop) {
    width: 100%;
    min-height: 340px;
    padding-bottom: 70px;
  }

  @media (max-width: $width-tablet) {
    min-height: 390px;
  }

  @media (max-width: $width-desktop) {
    background: $color-black url("../img/main-bg-tablet.jpg") no-repeat center;
    background-size: cover;

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background: $color-black url("../img/main-bg-tablet@2x.jpg") no-repeat center;
      background-size: cover;
    }
  }

  @media (max-width: $width-tablet) {
    background: $color-black url("../img/main-bg-mobile.jpg") no-repeat center;
    background-size: cover;

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background: $color-black url("../img/main-bg-mobile@2x.jpg") no-repeat center;
      background-size: cover;
    }
  }
}

.promo__about img {
  width: 67px;
  height: 21px;

  @media (max-width: $width-desktop) {
    margin: 25px 0 0 21px;
    text-align: left;
  }

  @media (max-width: $width-desktop) {
    margin-left: 16px;
  }
}

.promo__about h2 {
  width: 393px;
  margin: 31px 0 0 0;

  @include fontMeasure(700, 46px, 64px);
  color: $color-white;

  @media (max-width: $width-desktop) {
    margin: 89px auto 0 auto;
    text-align: center;
    width: 525px;

    @include fontMeasure(700, 30px, 42px);
  }

  @media (max-width: $width-tablet) {
    margin-top: 75px;
    width: 100%;
  }
}

.promo__about p {
  width: 381px;
  margin: 24px 0 0 0;

  @include fontMeasure(300, 20px, 32px);
  color: rgba($color-white, 0.8);

  @media (max-width: $width-desktop) {
    margin: 20px auto 0 auto;
    text-align: center;
    width: 435px;

    @include fontMeasure(300, 18px, 32px);
  }

  @media (max-width: $width-tablet) {
    width: auto;
    margin: 20px 16px 0 16px;

    @include fontMeasure(300, 18px, 32px);
  }
}

.promo__form {
  @media (max-width: $width-desktop) {
    margin: 0;
    color: $color-black;
    background-color: $color-white;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  @media (max-width: $width-tablet) {
    margin: 0 16px 0 16px;
  }
}

.promo__form p {
  @media (max-width: $width-desktop) {
    max-width: 321px;
    color: $color-black;
  }

  @media (max-width: $width-tablet) {
    max-width: 288px;
    @include fontMeasure(600, 18px, 28px);
  }
}

.promo__form input {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
