/* Colors */
$color-black: #000000;
$color-white: #ffffff;
$color-input-placeholder: rgba(#1c1c1c, 0.5);
$color-input-border:  #c9ccd4;
$color-main: #0ad9c6;
$color-menu-mobile: #48494d;
$color-menu-background: #f6f6f6;
$color-bycicles-background: #f6f7f9;
$color-video-background: #131314;
$color-section-header: #1f1f1f;

/* Viewports */
$width-tablet: 767px;
$width-desktop: 1023px;
